<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesión | Tienda Online</title>

    <link rel="stylesheet" href="/src/css/login.css">
</head>
<body>
    <div id="cuentasGuardadas" style="display:none; width:50%; margin-bottom: 1rem;">
    <p style="color:#555; font-size:0.9rem; margin-bottom:0.5rem;">Cuentas guardadas:</p>
    <div id="listaCuentas"></div>
</div>
    <div class="login-container">
        <img src="https://cdn-icons-png.flaticon.com/512/263/263142.png" alt="Logo Tienda" class="logo">
        <div class="login-title">Iniciar sesión</div>
            <form class="login-form" id="loginForm">
            <input type="email" name="email" placeholder="Correo electrónico" required autocomplete="email">
            <input type="password" name="password" placeholder="Contraseña" required autocomplete="current-password">
           <div class="form-group remember-group">
    <input type="checkbox" id="recordarme" name="recordarme">
    <label for="recordarme">Recordar mi cuenta</label>
</div>
            <button type="submit">Entrar</button>
        </form>
        <div class="register-link">
            ¿No tienes cuenta? <a href="/src/views/registro.html">Regístrate</a>
        </div>
    </div>
    <script src="/src/js/login.js"></script>
</body>
</html>
